<!DOCTYPE html>
<!--
    Yuhang Pan (PM), Matthew Ciu, Michelle Chen, Thomas Mackey
    Hero Wars by Teem_sqrt4469
    SoftDev
    P01: ArRESTed Development
    Dec 2025
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Wars</title>
    <h2>Player 1</h2>
<img src="{{ state.p1.image }}" alt="Player 1 image" height="150">
<p>Name: {{ state.p1.name }}</p>
<p>HP: {{ state.p1.current_hp }} / {{ state.p1.hp }}</p>
<p>ATK: {{ state.p1.atk }}</p>
<p>DEF: {{ state.p1.def }}</p>
<p>SPD: {{ state.p1.speed }}</p>

<hr>


<h2>Player 2</h2>
<img src="{{ state.p2.image }}" alt="Player 2 image" height="150">
<p>Name: {{ state.p2.name }}</p>
<p>HP: {{ state.p2.current_hp }} / {{ state.p2.hp }}</p>
<p>ATK: {{ state.p2.atk }}</p>
<p>DEF: {{ state.p2.def }}</p>
<p>SPD: {{ state.p2.speed }}</p>

<hr>
{% if stateTurn == "p1"%}
<h2>
  {% if state.winner == "p1" %}
    {{ state.p1.name }} wins the battle!
  {% else %}
    {{ state.p2.name }} wins the battle!
{% endif %}
</h2>

<p><a href="{{ url_for('reset_game') }}">Play Again</a></p>
 <p><a href="{{ url_for('home') }}">Back Home</a></p>

{% else %}

 <p>It is {{ state.turn }}'s turn.</p>

    {% if state.turn == "p1" %}
     <form action="{{ url_for('move') }}" method="POST">
         {% for key, move in moves.items() %}
             <button type="submit" name="move" value="{{ key }}">
                 {{ move.name }}
             </button>
         {% endfor %}
     </form>


</head>
<body>

</body>
</html>
