<!--
    Yuhang Pan (PM), Matthew Ciu, Michelle Chen, Thomas Mackey
    Hero Wars by Teem_sqrt4469
    SoftDev
    P01: ArRESTed Development
    Dec 2025
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Wars</title>
</head>
<body>
    <h1>Welcome to HERO WARS</h1>
    <img src="{{ profile_pic }}" alt="pic">
    <h3>Hi {{ username }},</h3>
    <p>you have {{ wins }} wins and {{ losses }} lossess.</p>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>